Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

Update README.md
  README.md
Due: none

Update README
  README.md
Due: none

Implemented Search Functionality for Posts
  lib/models/post.ts
Due: eslint --fix

refactor: migrate typescript (#5430)
  test/fixtures/.eslintrc
  test/fixtures/post_render.ts
  test/index.js
  test/scripts/generators/asset.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/post.ts
  test/scripts/hexo/router.ts
  test/util/.eslintrc
  test/util/index.js
  test/util/index.ts
  test/util/stream.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix

feat(highlight): add an option to switch stripIndent
  lib/hexo/default_config.ts
  lib/plugins/highlight/highlight.ts
  lib/plugins/highlight/prism.ts
Due: eslint --fix

Apply suggestions from code review
  lib/hexo/default_config.ts
Due: eslint --fix

update hexo-util to 330
  package.json
Due: none

feat(highlight): add an option to switch stripIndent (#5427)
  lib/hexo/default_config.ts
  lib/plugins/highlight/highlight.ts
  lib/plugins/highlight/prism.ts
  package.json
Due: eslint --fix

release: 7.2.0
  package.json
Due: none

suppress err from commenter
  .github/workflows/commenter.yml
Due: none

reduce runing of benchmark
  .github/workflows/benchmark.yml
Due: none

fix(tag): use url_for
  lib/plugins/tag/asset_img.ts
  lib/plugins/tag/asset_link.ts
  lib/plugins/tag/asset_path.ts
  lib/plugins/tag/post_link.ts
  lib/plugins/tag/post_path.ts
  test/scripts/tags/post_link.ts
Due: eslint --fix

feat: replace backslashes in _processFile
  lib/box/index.ts
  lib/models/post_asset.ts
  lib/plugins/tag/asset_link.ts
  lib/plugins/tag/asset_path.ts
Due: eslint --fix

fix unit test
  test/scripts/models/post_asset.ts
Due: eslint --fix

Update lib/plugins/tag/post_link.ts
  lib/plugins/tag/post_link.ts
Due: eslint --fix

Update post_asset.ts
  lib/models/post_asset.ts
Due: eslint --fix

fix(tag): use url_for (#5385)
  lib/box/index.ts
  lib/models/post_asset.ts
  lib/plugins/tag/asset_img.ts
  lib/plugins/tag/asset_link.ts
  lib/plugins/tag/asset_path.ts
  lib/plugins/tag/post_link.ts
  lib/plugins/tag/post_path.ts
  test/scripts/models/post_asset.ts
  test/scripts/tags/post_link.ts
Due: eslint --fix

refactor: backslashes on Windows
  lib/box/index.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
  lib/theme/processors/source.ts
  test/scripts/box/box.ts
  test/scripts/processors/asset.ts
  test/scripts/processors/post.ts
  test/scripts/theme_processors/source.ts
Due: eslint --fix

refactor: backslashes on Windows (#5457)
  lib/box/index.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
  lib/theme/processors/source.ts
  test/scripts/box/box.ts
  test/scripts/processors/asset.ts
  test/scripts/processors/post.ts
  test/scripts/theme_processors/source.ts
Due: eslint --fix

fix: no backslash
  lib/plugins/tag/include_code.ts
  test/scripts/tags/include_code.ts
Due: eslint --fix

fix: windos escapeBackslash
  lib/plugins/tag/include_code.ts
Due: eslint --fix

fix(tag/include_code): prevent path traversal
  lib/plugins/tag/include_code.ts
  test/scripts/tags/include_code.ts
Due: eslint --fix

remove import
  lib/plugins/tag/include_code.ts
Due: eslint --fix

fix unit test
  lib/plugins/tag/include_code.ts
  test/scripts/tags/include_code.ts
Due: eslint --fix

fix(categories,tags): revert behavior of locals.tags and locals.categories (#5388)
  lib/hexo/index.ts
Due: eslint --fix

chore(deps): bump hexo-fs from ^4.1.1 to ^4.1.3
  lib/hexo/load_plugins.ts
  lib/hexo/multi_config_path.ts
  lib/hexo/post.ts
  lib/hexo/render.ts
  lib/hexo/update_package.ts
  lib/plugins/helper/number_format.ts
  lib/plugins/renderer/nunjucks.ts
  lib/plugins/tag/include_code.ts
  package.json
  test/scripts/console/config.ts
  test/scripts/console/render.ts
  test/scripts/hexo/update_package.ts
Due: eslint --fix

test: test issue #4334
  package.json
  test/scripts/console/new.ts
Due: eslint --fix

Update package.json
  package.json
Due: none

chore(deps): bump hexo-fs from ^4.1.1 to ^4.1.3 (#5463)
  lib/hexo/load_plugins.ts
  lib/hexo/multi_config_path.ts
  lib/hexo/post.ts
  lib/hexo/render.ts
  lib/hexo/update_package.ts
  lib/plugins/helper/number_format.ts
  lib/plugins/renderer/nunjucks.ts
  lib/plugins/tag/include_code.ts
  package.json
  test/scripts/console/config.ts
  test/scripts/console/render.ts
  test/scripts/hexo/update_package.ts
Due: eslint --fix

fix(tag/include_code): prevent path traversal (#5251)
  lib/plugins/tag/include_code.ts
  test/scripts/tags/include_code.ts
Due: eslint --fix

ci: suppress comment err and reduce benchmark running (#5454)
  .github/workflows/benchmark.yml
  .github/workflows/commenter.yml
Due: none

test: add test case for issue #4334 (#5465)
  package.json
  test/scripts/console/new.ts
Due: eslint --fix

release: 7.2.0 (#5453)
  package.json
Due: none

feat: add option to use slug as title of post
  lib/hexo/default_config.ts
  lib/plugins/processor/post.ts
  test/scripts/processors/post.ts
Due: eslint --fix

ci(comment): fix wrong condition
  .github/workflows/commenter.yml
Due: none

feat(renderScaffold): deepMerge frontMatter of post and scaffold
  lib/hexo/post.ts
Due: eslint --fix

test: add test case
  test/scripts/hexo/post.ts
Due: eslint --fix

perf(processor/post): improve processing speed when `config.post_asset_folder` is enabled
  lib/plugins/processor/post.ts
Due: eslint --fix

refactor: use `Post.findById` if `postAsset` exists
  lib/plugins/processor/post.ts
Due: eslint --fix

Path conditions:
  git-exec-and-restage eslint --fix --: any of: *.js
  eslint --fix: (any of: *.js) or (any of: *.ts)
