Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

refactor: refactor types
  lib/hexo/index.ts
  lib/plugins/generator/post.ts
  lib/plugins/helper/css.ts
  lib/plugins/helper/date.ts
  lib/plugins/helper/favicon_tag.ts
  lib/plugins/helper/feed_tag.ts
  lib/plugins/helper/fragment_cache.ts
  lib/plugins/helper/full_url_for.ts
  lib/plugins/helper/image_tag.ts
  lib/plugins/helper/is.ts
  lib/plugins/helper/js.ts
  lib/plugins/helper/link_to.ts
  lib/plugins/helper/list_archives.ts
  lib/plugins/helper/list_categories.ts
  lib/plugins/helper/list_posts.ts
  lib/plugins/helper/list_tags.ts
  lib/plugins/helper/markdown.ts
  lib/plugins/helper/meta_generator.ts
  lib/plugins/helper/open_graph.ts
  lib/plugins/helper/paginator.ts
  lib/plugins/helper/partial.ts
  lib/plugins/helper/search_form.ts
  lib/plugins/helper/tagcloud.ts
  lib/plugins/helper/url_for.ts
  lib/types.ts
  package.json
Due: eslint --fix

remove @ts-expect-error
  lib/plugins/generator/asset.ts
  lib/types.ts
Due: eslint --fix

release: 7.1.0 (#5397)
  package.json
Due: none

chore: use `prepublishOnly` instead of `prepublish` and run `npm install` in `prepublishOnly` script
  package.json
Due: none

chore: use `prepublishOnly` instead of `prepublish` and run `npm install` in `prepublishOnly` script (#5399)
  package.json
Due: none

fix(escapeTags): escape tag which includes line break
  lib/hexo/post.ts
  test/scripts/hexo/post.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

fix: object
  lib/hexo/index.ts
  lib/theme/index.ts
  lib/types.ts
Due: eslint --fix

fix(escapeTags): escape tag which includes line break (#5402)
  lib/hexo/post.ts
  test/scripts/hexo/post.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

release: 7.1.1
  package.json
Due: none

release: 7.1.1 (#5405)
  package.json
Due: none

refactor: refactor types (#5398)
  lib/hexo/index.ts
  lib/plugins/generator/asset.ts
  lib/plugins/generator/post.ts
  lib/plugins/helper/css.ts
  lib/plugins/helper/date.ts
  lib/plugins/helper/favicon_tag.ts
  lib/plugins/helper/feed_tag.ts
  lib/plugins/helper/fragment_cache.ts
  lib/plugins/helper/full_url_for.ts
  lib/plugins/helper/image_tag.ts
  lib/plugins/helper/is.ts
  lib/plugins/helper/js.ts
  lib/plugins/helper/link_to.ts
  lib/plugins/helper/list_archives.ts
  lib/plugins/helper/list_categories.ts
  lib/plugins/helper/list_posts.ts
  lib/plugins/helper/list_tags.ts
  lib/plugins/helper/markdown.ts
  lib/plugins/helper/meta_generator.ts
  lib/plugins/helper/open_graph.ts
  lib/plugins/helper/paginator.ts
  lib/plugins/helper/partial.ts
  lib/plugins/helper/search_form.ts
  lib/plugins/helper/tagcloud.ts
  lib/plugins/helper/url_for.ts
  lib/theme/index.ts
  lib/types.ts
  package.json
Due: eslint --fix

ci(profiling): upload flamegraph to gh-pages
  .github/workflows/benchmark.yml
  .github/workflows/commenter.yml
  package.json
Due: none

migrate husky to v9
  .husky/pre-commit
  package.json
Due: none

Update README.md
  README.md
Due: none

fix typo
  README.md
Due: none

chore(deps-dev): Limited `@types/node` version
  package.json
Due: none

chore(deps-dev): Limited `@types/node` version (#5411)
  package.json
Due: none

fix: wrong link
  test/scripts/helpers/url_for.ts
Due: eslint --fix

fix coverage
  test/scripts/filters/post_permalink.ts
Due: eslint --fix

overload
  lib/hexo/render.ts
Due: eslint --fix

fix: post_link make invalid url
  lib/plugins/tag/post_link.ts
Due: eslint --fix

Update post_link.ts
  lib/plugins/tag/post_link.ts
Due: eslint --fix

fix: post_link behavior when using subdir
  lib/plugins/tag/post_link.ts
  test/scripts/tags/post_link.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

docs(README): Update Sponsors images (#5410)
  README.md
Due: none

fix(TS2322): Type 'unknown' is not assignable to type 'string'.
  lib/plugins/filter/template_locals/i18n.ts
Due: eslint --fix

feat(deps-dev): install `@types/connect` for middleware `hexo-server` type
  package.json
Due: none

chore: import hexo from parent folder
  lib/plugins/filter/before_post_render/dataType.ts
Due: eslint --fix

chore: make callback on exit optional
  lib/hexo/index.ts
Due: eslint --fix

chore: make callback on exit optional (#5421)
  lib/hexo/index.ts
Due: eslint --fix

Fix typos
  test/scripts/helpers/css.js
  test/scripts/helpers/full_url_for.js
  test/scripts/helpers/js.js
  test/scripts/helpers/list_archives.js
  test/scripts/helpers/url_for.js
  test/scripts/hexo/hexo.js
  test/scripts/hexo/post.js
  test/scripts/processors/asset.js
  test/scripts/tags/full_url_for.js
  test/scripts/tags/url_for.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

feat(highlight): add an option to disable stripIndent
  lib/hexo/default_config.ts
  lib/plugins/highlight/highlight.ts
  lib/plugins/highlight/prism.ts
Due: eslint --fix

Update list_archives.js
  test/scripts/helpers/list_archives.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

test: fix typos (#5426)
  test/scripts/helpers/css.js
  test/scripts/helpers/full_url_for.js
  test/scripts/helpers/js.js
  test/scripts/helpers/url_for.js
  test/scripts/hexo/hexo.js
  test/scripts/hexo/post.js
  test/scripts/processors/asset.js
  test/scripts/tags/full_url_for.js
  test/scripts/tags/url_for.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

fix(tag/post_link): support url with subdir (#5419)
  lib/plugins/tag/post_link.ts
  test/scripts/tags/post_link.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

chore: remove unused test entry file
  test/index.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

refactor: migrate ts
  test/fixtures/.eslintrc
  test/fixtures/post_render.ts
  test/scripts/generators/asset.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/post.ts
  test/scripts/hexo/router.ts
  test/util/.eslintrc
  test/util/index.js
  test/util/index.ts
  test/util/stream.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix

Path conditions:
  git-exec-and-restage eslint --fix --: any of: *.js
  eslint --fix: (any of: *.js) or (any of: *.ts)
