Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

.lintstagedrc:

{
  "*.js": "git-exec-and-restage eslint --fix --"
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix --config eslint.config.cjs",
  "*.ts": "eslint --fix --config eslint.config.cjs"
}

release: 8.1.0
  package.json
Due: none

release: 8.1.0 (#5713)
  package.json
Due: none

chore: use object format for repository field in `package.json`
  package.json
Due: none

chore: use object format for repository field in `package.json` (#5714)
  package.json
Due: none

fix(moment): use timezone from Hexo config instead of maching settings
  lib/hexo/post.ts
  lib/models/types/moment.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/common.ts
  lib/plugins/processor/post.ts
  test/scripts/console/new.ts
  test/scripts/filters/post_permalink.ts
  test/scripts/models/moment.ts
  test/scripts/processors/common.ts
Due: eslint --fix --config eslint.config.cjs

fix(regression): handle comment nesting in code fence and nunjucks
  lib/hexo/post.ts
  lib/plugins/filter/before_post_render/backtick_code_block.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

fix: reset regex lastIndex before escaping comments in backtick code block
  lib/plugins/filter/before_post_render/backtick_code_block.ts
Due: eslint --fix --config eslint.config.cjs

adding docker
  Dockerfile
  docker-compose.yml
Due: none

fix(regression): handle comment nesting in code fence and nunjucks (#5717)
  lib/hexo/post.ts
  lib/plugins/filter/before_post_render/backtick_code_block.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

release: v8.1.1
  package.json
Due: none

release: v8.1.1 (#5719)
  package.json
Due: none

fix(moment): update hexo-front-matter
  package.json
Due: none

Update lib/plugins/processor/common.ts
  lib/plugins/processor/common.ts
Due: eslint --fix --config eslint.config.cjs

fix: eslint
  lib/plugins/processor/common.ts
Due: eslint --fix --config eslint.config.cjs

feat(validate_config): add timezone check
  lib/hexo/validate_config.ts
Due: eslint --fix --config eslint.config.cjs

fix: Incorrectly ignores single-line code blocks when escaping Swig and HTML comments
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

fix: raw tag
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

add more test
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

Update test/scripts/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

fix: update ESLint test configuration
  eslint.config.js
  lib/box/file.ts
  lib/hexo/index.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

feat(validate_config): add warning
  lib/hexo/validate_config.ts
Due: eslint --fix --config eslint.config.cjs

fix(external_link): noopenner should be noopener
  lib/plugins/filter/after_post_render/external_link.ts
  lib/plugins/filter/after_render/external_link.ts
Due: eslint --fix --config eslint.config.cjs

fix(external_link): update tests
  test/scripts/filters/external_link.ts
Due: eslint --fix --config eslint.config.cjs

fix(external_link): noopenner should be noopener (#5729)
  lib/plugins/filter/after_post_render/external_link.ts
  lib/plugins/filter/after_render/external_link.ts
  test/scripts/filters/external_link.ts
Due: eslint --fix --config eslint.config.cjs

feat(validate_config): add warning about timezone
  lib/hexo/validate_config.ts
Due: eslint --fix --config eslint.config.cjs

ci: add dependency-review action for vulnerability scanning
  .github/workflows/dependencies-review.yml
Due: none

ci: enable trusted publishing
  .github/workflows/publish.yml
Due: none

chore(deps): version pinning and add lockfile
  .gitignore
  package-lock.json
  package.json
Due: none

fix: avoid unnecessary Buffer conversion for large string content
  lib/hexo/router.ts
  test/scripts/hexo/router.ts
Due: eslint --fix --config eslint.config.cjs

fix: Incorrectly ignores single-line code blocks when escaping Swig and HTML comments (#5722)
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

release: v8.1.2
  package.json
Due: none

fix: Swig tag at line start breaks Markdown processing on the same line
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix --config eslint.config.cjs

fix(test): add missing await to unlink in save_database test
  test/scripts/filters/save_database.ts
Due: eslint --fix --config eslint.config.cjs

fix(test): add missing await to unlink in save_database test (#5753)
  test/scripts/filters/save_database.ts
Due: eslint --fix --config eslint.config.cjs

fix: update ESLint test configuration (#5725)
  eslint.config.js
  lib/box/file.ts
  lib/hexo/index.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

perf: faster externalLink regexp (#5706)
  lib/plugins/filter/after_post_render/external_link.ts
  lib/plugins/filter/after_render/external_link.ts
Due: eslint --fix --config eslint.config.cjs

chore(deps): unpinned deps
  package-lock.json
  package.json
Due: none

chore(deps): run `npm update`
  package-lock.json
Due: none
