Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

.lintstagedrc:

{
  "*.js": "git-exec-and-restage eslint --fix --"
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix --config eslint.config.cjs",
  "*.ts": "eslint --fix --config eslint.config.cjs"
}

refactor!: migrate to ES modules and update ESLint configuration
  .lintstagedrc.json
  eslint.config.cjs
  package.json
  scripts/copy-files.js
  test/benchmark.js
  test/scripts/dual-mode/dual.spec.ts
  test/util/isClass.cjs
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

fix(.gitignore): correct ignore pattern for ignore files
  .gitignore
Due: none

refactor: clean up globals handling and refine TypeScript configuration
  lib/hexo/index.ts
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: eslint --fix --config eslint.config.cjs

chore!: replace dynamic Mocha config with static YAML and simplify test scripts
  .mocharc.js
  .mocharc.yml
  package.json
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

refactor: unify picocolors and micromatch imports for ESM compatibility
  lib/box/index.ts
  lib/extend/tag.ts
  lib/hexo/index.ts
  lib/hexo/load_config.ts
  lib/hexo/load_plugins.ts
  lib/hexo/load_theme_config.ts
  lib/hexo/post.ts
  lib/models/index.ts
  lib/models/types/moment.ts
  lib/plugins/console/deploy.ts
  lib/plugins/console/generate.ts
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/tag.ts
  lib/plugins/console/migrate.ts
  lib/plugins/console/new.ts
  lib/plugins/console/publish.ts
  lib/plugins/console/render.ts
  lib/plugins/generator/asset.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/common.ts
  lib/plugins/processor/post.ts
Due: eslint --fix --config eslint.config.cjs

fix: update .gitignore and TypeScript config to exclude .tmp* files
  .gitignore
  tsconfig.base.json
  tsconfig.json
Due: none

refactor: improve ESM compatibility and modular imports
  .mocharc.yml
  lib/hexo/index.ts
  lib/models/asset.ts
  lib/models/cache.ts
  lib/models/category.ts
  lib/models/data.ts
  lib/models/page.ts
  lib/models/post.ts
  lib/models/post_asset.ts
  lib/models/post_category.ts
  lib/models/post_tag.ts
  lib/models/tag.ts
  lib/models/types/moment.ts
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/tag.ts
  lib/plugins/helper/css.ts
  lib/plugins/helper/date.ts
  lib/plugins/helper/feed_tag.ts
  lib/plugins/helper/js.ts
  lib/plugins/helper/list_tags.ts
  lib/plugins/helper/mail_to.ts
  lib/plugins/helper/open_graph.ts
  lib/plugins/helper/search_form.ts
  lib/plugins/helper/tagcloud.ts
  lib/plugins/tag/index.ts
  lib/theme/processors/config.ts
  lib/theme/processors/i18n.ts
  lib/theme/processors/view.ts
  tsconfig.base.json
  tsconfig.esm.json
  tsconfig.json
Due: eslint --fix --config eslint.config.cjs

build: replace runtime version placeholder with actual version
  lib/hexo/index.ts
  package.json
  scripts/replace-version.js
  test/scripts/dual-mode/commonjs.spec.cjs
  test/scripts/dual-mode/esm.spec.mjs
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

refactor(test): replace pretest script with custom build-check logic
  package.json
  scripts/pretest.js
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

refactor(highlight): support both ESM and CommonJS module systems
  lib/plugins/highlight/highlight.ts
  lib/plugins/highlight/index.ts
  lib/plugins/highlight/prism.ts
  test/scripts/filters/backtick_code_block.ts
Due: eslint --fix --config eslint.config.cjs

refactor(core,test): unify __dirname handling for ESM and CJS compatibility
  lib/hexo/index.ts
  test/scripts/box/box.ts
  test/scripts/box/file.ts
  test/scripts/console/clean.ts
  test/scripts/console/config.ts
  test/scripts/console/deploy.ts
  test/scripts/console/generate.ts
  test/scripts/console/list.ts
  test/scripts/console/list_categories.ts
  test/scripts/console/list_post.ts
  test/scripts/console/list_route.ts
  test/scripts/console/list_tags.ts
  test/scripts/console/migrate.ts
  test/scripts/console/new.ts
  test/scripts/console/publish.ts
  test/scripts/console/render.ts
  test/scripts/extend/tag.ts
  test/scripts/filters/new_post_path.ts
  test/scripts/generators/asset.ts
  test/scripts/generators/page.ts
  test/scripts/generators/post.ts
  test/scripts/renderers/nunjucks.ts
  test/scripts/tags/asset_img.ts
  test/scripts/tags/asset_link.ts
  test/scripts/tags/asset_path.ts
  test/scripts/tags/blockquote.ts
  test/scripts/tags/img.ts
  test/scripts/tags/post_link.ts
  test/scripts/tags/post_path.ts
  test/scripts/tags/pullquote.ts
  test/scripts/theme/theme.ts
  test/scripts/theme/view.ts
  test/scripts/theme_processors/config.ts
  test/scripts/theme_processors/i18n.ts
  test/scripts/theme_processors/source.ts
  test/scripts/theme_processors/view.ts
Due: eslint --fix --config eslint.config.cjs

test(external_link): refactor test to support ESM-compatible Hexo instantiation
  test/scripts/filters/external_link.ts
Due: eslint --fix --config eslint.config.cjs

refactor(tests): unify __dirname handling for ESM and CJS compatibility across helper tests
  test/scripts/helpers/css.ts
  test/scripts/helpers/favicon_tag.ts
  test/scripts/helpers/fragment_cache.ts
  test/scripts/helpers/image_tag.ts
  test/scripts/helpers/is.ts
  test/scripts/helpers/js.ts
  test/scripts/helpers/link_to.ts
  test/scripts/helpers/list_archives.ts
  test/scripts/helpers/list_categories.ts
  test/scripts/helpers/list_posts.ts
  test/scripts/helpers/list_tags.ts
  test/scripts/helpers/mail_to.ts
  test/scripts/helpers/markdown.ts
  test/scripts/helpers/paginator.ts
  test/scripts/helpers/partial.ts
  test/scripts/helpers/render.ts
  test/scripts/helpers/tagcloud.ts
Due: eslint --fix --config eslint.config.cjs

feat(hexo): add cross-platform dirname and filename helpers for ESM/CJS compatibility
  lib/hexo/cross_dirname.ts
  lib/hexo/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor(open_graph): update moment import for ESM compatibility
  lib/plugins/helper/open_graph.ts
Due: eslint --fix --config eslint.config.cjs

test: migrate load_theme_config test to use dynamic import and type annotations
  test/scripts/hexo/load_theme_config.ts
Due: eslint --fix --config eslint.config.cjs

refactor(highlight): use direct import of hexo-util.highlight instead of require
  lib/plugins/highlight/highlight.ts
Due: eslint --fix --config eslint.config.cjs

refactor(prism): use direct import of hexo-util.prismHighlight and escapeHTML
  lib/plugins/highlight/prism.ts
Due: eslint --fix --config eslint.config.cjs

fix(syntax_highlight): add CommonJS compatibility for module exports
  lib/extend/syntax_highlight.ts
Due: eslint --fix --config eslint.config.cjs

test(code): convert highlight plugin to dynamic import for ESM compatibility
  test/scripts/tags/code.ts
Due: eslint --fix --config eslint.config.cjs

refactor: improve ESM compatibility across core and test modules
  lib/plugins/highlight/highlight.ts
  lib/plugins/highlight/index.ts
  test/benchmark.js
  test/scripts/filters/backtick_code_block.ts
  test/scripts/filters/meta_generator.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/load_database.ts
  test/scripts/hexo/post.ts
  test/scripts/tags/include_code.ts
  test/util/env.ts
  test/util/stream.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

refactor(console): replace require with direct imports for command modules
  lib/plugins/console/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor(init): convert internal plugin loading to dynamic imports for improved ESM compatibility
  lib/hexo/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor: replace namespace imports of picocolors with default imports for consistency
  lib/box/index.ts
  lib/extend/tag.ts
  lib/hexo/load_config.ts
  lib/hexo/load_plugins.ts
  lib/hexo/load_theme_config.ts
  lib/hexo/post.ts
  lib/plugins/console/deploy.ts
  lib/plugins/console/generate.ts
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/tag.ts
  lib/plugins/console/migrate.ts
  lib/plugins/console/new.ts
  lib/plugins/console/publish.ts
  lib/plugins/console/render.ts
  lib/plugins/generator/asset.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
Due: eslint --fix --config eslint.config.cjs

refactor(filter): replace require with direct imports for improved ESM compatibility
  lib/plugins/filter/index.ts
Due: eslint --fix --config eslint.config.cjs

fix: test/fixtures/banner.jpg not found
  test/scripts/hexo/router.ts
Due: eslint --fix --config eslint.config.cjs

refactor(pretest): enhance needsBuild function for clearer build checks and logging
  scripts/pretest.js
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

refactor(after_render): replace require with direct imports for improved clarity and ESM compatibility
  lib/plugins/filter/after_render/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor(titlecase): replace require with direct import for improved clarity and ESM compatibility feat: add @types/titlecase for TypeScript support
  lib/plugins/filter/before_post_render/titlecase.ts
  package.json
Due: eslint --fix --config eslint.config.cjs

refactor(helper): migrate to ESM imports and improve type safety
  lib/plugins/helper/date.ts
  lib/plugins/helper/debug.ts
  lib/plugins/helper/format.ts
  lib/plugins/helper/index.ts
  lib/plugins/helper/is.ts
Due: eslint --fix --config eslint.config.cjs

refactor(filters): replace require with ESM imports for improved clarity and compatibility
  lib/plugins/filter/after_post_render/index.ts
  lib/plugins/filter/before_exit/index.ts
  lib/plugins/filter/before_generate/index.ts
  lib/plugins/filter/before_post_render/index.ts
  lib/plugins/filter/template_locals/index.ts
  lib/plugins/generator/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor(renderer, tag): migrate to ESM imports for improved clarity and compatibility
  lib/plugins/renderer/index.ts
  lib/plugins/tag/index.ts
  test/scripts/hexo/hexo.ts
Due: eslint --fix --config eslint.config.cjs

refactor(pretest): update extraFiles array
  scripts/pretest.js
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

refactor(processor): replace dynamic requires with static ESM imports
  lib/plugins/processor/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor(hexos): migrate to ESM imports for config loaders
  lib/hexo/index.ts
Due: eslint --fix --config eslint.config.cjs

refactor: migrate micromatch imports to ESM syntax
  lib/box/index.ts
  lib/plugins/processor/common.ts
Due: eslint --fix --config eslint.config.cjs

fix(pretest): correct path to dual.spec.ts in extraFiles array
  scripts/pretest.js
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

feat(pretest): add CJS conversion step for CommonJS compatibility in ESM
  scripts/pretest.js
Due: git-exec-and-restage eslint --fix --, eslint --fix --config eslint.config.cjs

fix(eslint): add global variables for test environment in ESLint config
  eslint.config.cjs
Due: none
