Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

.lintstagedrc:

{
  "*.js": "git-exec-and-restage eslint --fix --"
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix"
}

perf: skip tag render when there is no swigTags (#5650)
  lib/hexo/post.ts
Due: eslint --fix

fix(permalink): use `permalink` for parse filename if parsing with `new_post_name` fails
  lib/plugins/processor/post.ts
Due: eslint --fix

feat(load_config): enforce stricter extension checks (#5591)
  lib/hexo/load_config.ts
  lib/hexo/load_theme_config.ts
  test/scripts/hexo/load_config.ts
Due: eslint --fix

feat(post_permalink): `:filepath` pattern support
  lib/plugins/filter/post_permalink.ts
  test/scripts/filters/filepath_permalink.ts
Due: eslint --fix

fix(open_graph): sort the tags (#5656)
  lib/plugins/helper/open_graph.ts
  test/scripts/helpers/open_graph.ts
Due: eslint --fix

chore(lint): apply eslint to test files
  eslint.config.js
  package.json
  test/.eslintrc
  test/benchmark.js
  test/fixtures/.eslintrc
  test/scripts/.eslintrc
  test/scripts/extend/processor.ts
  test/scripts/extend/renderer.ts
  test/scripts/extend/tag.ts
  test/scripts/extend/tag_errors.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/post.ts
  test/scripts/renderers/nunjucks.ts
  test/util/.eslintrc
Due: git-exec-and-restage eslint --fix --, eslint --fix

Update test/scripts/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix

chore(lint): apply eslint to test files (#5655)
  eslint.config.js
  package.json
  test/.eslintrc
  test/benchmark.js
  test/fixtures/.eslintrc
  test/scripts/.eslintrc
  test/scripts/extend/processor.ts
  test/scripts/extend/renderer.ts
  test/scripts/extend/tag.ts
  test/scripts/extend/tag_errors.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/post.ts
  test/scripts/renderers/nunjucks.ts
  test/util/.eslintrc
Due: git-exec-and-restage eslint --fix --, eslint --fix

perf: faster text-table
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/tag.ts
  package.json
Due: eslint --fix

perf: faster text-table (#5665)
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/tag.ts
  package.json
Due: eslint --fix

chore: drop Node.js 18
  .github/workflows/benchmark.yml
  .github/workflows/tester.yml
  package.json
Due: none

Unit tests for displayPath function
  lib/hexo/load_plugins.ts
  test/scripts/hexo/displayPath.ts
Due: eslint --fix

chore: drop Node.js 18 (#5674)
  .github/workflows/benchmark.yml
  .github/workflows/tester.yml
  package.json
Due: none

Update lib/plugins/console/clean.ts
  lib/plugins/console/clean.ts
Due: eslint --fix

feat: enhance global scope assignment for Hexo class and improve module compatibility
  lib/hexo/index.ts
Due: eslint --fix

chore: update .gitignore to include .yarn and _*.ignore
  .gitignore
Due: none

feat: add ESM-compatible CLI entry point using hexo-cli
  bin/hexo.mjs
  package.json
Due: none

test(include_code): avoid circular refs in config cloning for tests
  test/scripts/tags/include_code.ts
Due: eslint --fix

test(view): fix type assertion for pattern.match result in layout test
  test/scripts/theme_processors/view.ts
Due: eslint --fix

test: replace JSON deep clone with custom deepClone utility
  test/scripts/hexo/load_config.ts
  test/scripts/hexo/post.ts
  test/scripts/hexo/validate_config.ts
  test/scripts/tags/include_code.ts
  test/util/deepClone.ts
Due: eslint --fix

refactor(tsconfig): update TypeScript configuration for improved IDE support and adjust output directory
  tsconfig.json
Due: none

fix(tsconfig): correct include and exclude paths in ESM configuration
  tsconfig.esm.json
Due: none

refactor(test): replace deepClone with jsonParse/jsonStringify from hexo-util
  test/scripts/hexo/load_config.ts
  test/scripts/hexo/post.ts
  test/scripts/hexo/validate_config.ts
  test/scripts/tags/include_code.ts
  test/scripts/theme_processors/view.ts
  test/util/deepClone.ts
Due: eslint --fix

test(post): ensure process function is called twice for asset deletion verification
  test/scripts/processors/post.ts
Due: eslint --fix

refactor(hexo): reorder and deduplicate imports, apply consistent formatting and spacing
  lib/hexo/index.ts
Due: eslint --fix

refactor(extend): use explicit 'extend/index' imports for improved ESM compatibility and clarity
  lib/hexo/index.ts
  lib/hexo/render.ts
  lib/theme/view.ts
Due: eslint --fix

build: add script to copy package.json to dist directory
  package.json
Due: none

fix(tsconfig): ensure allowJs is enabled in compilerOptions for mocha
  tsconfig.json
Due: none

test: add dual-mode import tests for CommonJS and ESM builds
  test/scripts/dual-mode/commonjs.spec.cjs
  test/scripts/dual-mode/dual.spec.ts
  test/scripts/dual-mode/esm.spec.mjs
  test/util/isClass.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

test(ci): add build step to CI workflow for improved testing process
  .github/workflows/tester.yml
Due: none

build(test): centralize mocha config and simplify test script
  .mocharc.yml
  package.json
  tsconfig.json
Due: none

fix: add pretest script to ensure build runs before tests
  package.json
Due: none

feat(test): replace YAML Mocha config with dynamic JS config supporting multiple environments
  .mocharc.js
  .mocharc.yml
  package.json
Due: git-exec-and-restage eslint --fix --, eslint --fix

fix(TS2612): Property 'options' will overwrite the base property in 'SchemaType<Moment>'.
  lib/models/types/moment.ts
Due: eslint --fix

chore(scripts): rename build script names to use kebab-case for consistency
  package.json
Due: none

chore(tsconfig): align base config to ESNext and ensure CJS config overrides target, module, and resolution
  tsconfig.base.json
  tsconfig.cjs.json
Due: none

refactor(core): move internal Node.js module typings to separate declaration file
  lib/hexo/globals.d.ts
  lib/hexo/index.ts
Due: eslint --fix

refactor(core): relocate global typings and add custom build copy script
  lib/hexo/globals.d.ts
  lib/hexo/index.ts
  package.json
  scripts/copy-files.js
Due: git-exec-and-restage eslint --fix --, eslint --fix
