Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

.lintstagedrc:

{
  "*.js": "git-exec-and-restage eslint --fix --"
}

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix"
}

ci: reduce the running of ci
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Due: none

chore(lint-staged): remove `git-exec-and-restage` (#5281)
  .lintstagedrc
  .lintstagedrc.json
  package.json
Due: none

ci: reduce the running of ci (#5282)
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Due: none

chore(deps-dev): remove @ts/eslint-plugin, parser
  package.json
Due: none

Support additional options for Backtick Code Block
  lib/plugins/filter/before_post_render/backtick_code_block.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

Reorder additional options to follow documents
  lib/plugins/filter/before_post_render/backtick_code_block.js
  lib/plugins/tag/code.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

Add test units for Backtick Code Block additional options
  lib/plugins/filter/before_post_render/backtick_code_block.js
  test/scripts/filters/backtick_code_block.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

Fix the mark parameter to match the usage of highlightjs and prismjs
  lib/plugins/filter/before_post_render/backtick_code_block.js
  lib/plugins/highlight/highlight.js
  lib/plugins/tag/code.js
  test/scripts/filters/backtick_code_block.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

chore(Hexo): add event emitter descriptor
  lib/hexo/index.ts
Due: eslint --fix

Revert "fix(post-asset): strip extensions better on permalink (#5153)"
  lib/models/post_asset.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

Revert "fix(post-asset): strip extensions better on permalink (#5153)" (#5308)
  lib/models/post_asset.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

ci: reduce the running of ci (#5291)
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Due: none

rename to ts
  lib/hexo/post.ts
Due: eslint --fix

resolove ts error
  lib/hexo/post.ts
Due: eslint --fix

lint and rename
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-improvement.yml
Due: none

Update feature-request-improvement.yml
  .github/ISSUE_TEMPLATE/feature-request-improvement.yml
Due: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update bug_report.yml: add type for env
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

(bug): remove a wrong description
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

yaml lint
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature-request-improvement.yml
Due: none

(bug): some improve
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

(bug): changed the order
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore(github): use github issue form (#5319)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-improvement.md
  .github/ISSUE_TEMPLATE/feature-request-improvement.yml
Due: none

perf(post): cache tags getter (#5145)
  lib/models/post.ts
Due: eslint --fix

revert: Access data files from source folder (#1969)
  lib/hexo/index.ts
  lib/plugins/filter/before_generate/render_post.ts
  test/scripts/filters/render_post.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

revert: Access data files from source folder (#1969) (#5325)
  lib/hexo/index.ts
  lib/plugins/filter/before_generate/render_post.ts
  test/scripts/filters/render_post.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

release: v7.0.0
  package.json
Due: none

add NodeJSLikeCallback
  lib/box/index.ts
  lib/extend/renderer.ts
  lib/extend/tag.ts
  lib/hexo/index.ts
  lib/hexo/post.ts
  lib/hexo/scaffold.ts
  lib/types.ts
Due: eslint --fix

refactor types
  lib/box/file.ts
  lib/box/index.ts
  lib/extend/tag.ts
  lib/hexo/index.ts
  lib/hexo/post.ts
  lib/hexo/scaffold.ts
Due: eslint --fix

refactor: refactor types
  lib/box/index.ts
  lib/extend/renderer.ts
  lib/hexo/multi_config_path.ts
  lib/hexo/post.ts
  lib/hexo/router.ts
  lib/plugins/tag/code.ts
  lib/plugins/tag/post_path.ts
  lib/theme/index.ts
  lib/theme/processors/config.ts
  lib/theme/processors/i18n.ts
  lib/theme/processors/source.ts
  lib/theme/processors/view.ts
  lib/theme/view.ts
Due: eslint --fix

update type
  lib/box/file.ts
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/route.ts
  lib/plugins/console/list/tag.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
Due: eslint --fix

fix front-matter
  lib/hexo/post.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
  package.json
Due: eslint --fix

fix wrong type
  lib/plugins/helper/date.ts
Due: eslint --fix

ci(benchmark): add PR permissions for comment
  .github/workflows/benchmark.yml
Due: none

chore(deps): bump hexo-front-matter from 4.0.0 to ^4.2.0
  package.json
Due: none
