Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

bump hexo-front-matter to 4.2.1
  package.json
Due: none

chore(deps): bump hexo-front-matter from 4.0.0 to ^4.2.1 (#5336)
  package.json
Due: none

release: v7.0.0 (#5329)
  package.json
Due: none

fix(types): cast from `number` to `string` explicitly
  lib/hexo/multi_config_path.ts
  lib/plugins/console/generate.ts
Due: eslint --fix

fix(types): cast from `number` to `string` explicitly (#5342)
  lib/hexo/multi_config_path.ts
  lib/plugins/console/generate.ts
Due: eslint --fix

ci(benchmark): add PR permissions for comment (#5334)
  .github/workflows/benchmark.yml
Due: none

refactor: refactor types
  lib/box/index.ts
  lib/extend/console.ts
  lib/extend/filter.ts
  lib/extend/renderer.ts
  lib/extend/tag.ts
  lib/hexo/index.ts
  lib/hexo/post.ts
  lib/hexo/scaffold.ts
  lib/models/types/moment.ts
  lib/plugins/console/config.ts
  lib/plugins/console/deploy.ts
  lib/plugins/console/generate.ts
  lib/plugins/console/list/index.ts
  lib/plugins/console/migrate.ts
  lib/plugins/console/new.ts
  lib/plugins/console/publish.ts
  lib/plugins/console/render.ts
  lib/plugins/filter/after_post_render/excerpt.ts
  lib/plugins/filter/after_post_render/external_link.ts
  lib/plugins/filter/before_exit/save_database.ts
  lib/plugins/filter/before_post_render/backtick_code_block.ts
  lib/plugins/filter/before_post_render/titlecase.ts
  lib/plugins/filter/new_post_path.ts
  lib/plugins/filter/post_permalink.ts
  lib/plugins/filter/template_locals/i18n.ts
  lib/theme/view.ts
  lib/types.ts
  package.json
Due: eslint --fix

Add files via upload
  _config.yml
Due: none

chore(deps-dev): remove @ts/eslint-plugin, parser (#5290)
  package.json
Due: none

refactor: refactor types
  lib/hexo/index.ts
  lib/plugins/filter/template_locals/i18n.ts
  lib/plugins/generator/asset.ts
  lib/plugins/generator/page.ts
  lib/plugins/generator/post.ts
  lib/plugins/helper/date.ts
  lib/plugins/helper/is.ts
  lib/plugins/injector/index.ts
  lib/theme/view.ts
  lib/types.ts
Due: eslint --fix

refactor: refactor types
  lib/box/file.ts
  lib/hexo/load_config.ts
  lib/hexo/load_database.ts
  lib/hexo/load_plugins.ts
  lib/hexo/load_theme_config.ts
  lib/hexo/locals.ts
  lib/hexo/multi_config_path.ts
  lib/hexo/register_models.ts
  lib/hexo/render.ts
  lib/hexo/router.ts
  lib/hexo/scaffold.ts
  lib/hexo/update_package.ts
  lib/hexo/validate_config.ts
  lib/plugins/renderer/json.ts
  lib/plugins/renderer/nunjucks.ts
  lib/plugins/renderer/plain.ts
  lib/plugins/renderer/yaml.ts
  lib/theme/index.ts
  lib/theme/processors/view.ts
  lib/theme/view.ts
  package.json
Due: eslint --fix

fix types
  lib/box/index.ts
  lib/extend/renderer.ts
  lib/hexo/index.ts
  lib/hexo/load_config.ts
  lib/hexo/render.ts
  lib/hexo/scaffold.ts
  lib/plugins/console/config.ts
  lib/plugins/console/deploy.ts
  lib/plugins/console/generate.ts
  lib/plugins/console/migrate.ts
  lib/plugins/console/new.ts
  lib/plugins/console/publish.ts
  lib/plugins/console/render.ts
Due: eslint --fix

add multiplatform support githook
  .husky/pre-commit
Due: none

new configs for aurora
  _config.aurora.yml
  blog/.github/dependabot.yml
  blog/.gitignore
  blog/_config.aurora.yml
  blog/_config.landscape.yml
  blog/_config.yml
  blog/blahconfigblah.yml
  blog/package.json
  blog/scaffolds/draft.md
  blog/scaffolds/page.md
  blog/scaffolds/post.md
  blog/source/_posts/Blog1.md
  blog/source/_posts/Blog2.md
  blog/source/_posts/hello-world.md
  blog/source/_posts/whatit.md
  blog/source/about/index.md
  blog/themes/.gitkeep
Due: none

numero 2
  blog/source/_posts/Blog1.md
  blog/source/_posts/shiiiiit.md
  blog/source/about/index.md
Due: none

configedits
  _config.aurora.yml
  blog/_config.aurora.yml
Due: none

Your commit message
  blog/_config.aurora.yml
  blog/source/_posts/Blog2.md
Due: none

added URL hash support for post_link tag
  lib/plugins/tag/post_link.ts
  test/scripts/tags/post_link.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

UpdatePosts_added_DiaBot
  blog/_config.aurora.yml
  blog/commands.txt
  blog/source/_posts/2020-1-3-thorshammer.md
  blog/source/_posts/chat-gpt-newgpts.md
  blog/source/_posts/sam-altman-kicked-outta-openaii.md
Due: none

welp
  blog/_config.aurora.yml
  blog/_config.yml
  blog/branch.txt
  blog/source/_posts/Python-Packages-Malware.md
  blog/source/about/index.md
  blog/source/links/index.md
Due: none

meh
  blog/_config.aurora.yml
  blog/source/_posts/Python-Packages-Malware.md
  blog/source/_posts/openai-unveils-new.md
  blog/source/friends/index.md
Due: none

added URL hash support for post_link tag (#5356)
  lib/plugins/tag/post_link.ts
  test/scripts/tags/post_link.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

fix commenter
  .github/workflows/benchmark.yml
  .github/workflows/commenter.yml
Due: none

ci: fix pr comments (#5384)
  .github/workflows/benchmark.yml
  .github/workflows/commenter.yml
Due: none

fix(categories,tags): revert behavior of locals.tags and locals.categories
  lib/hexo/index.ts
Due: eslint --fix

refactor: refactor types
  lib/extend/console.ts
  lib/extend/deployer.ts
  lib/extend/filter.ts
  lib/extend/generator.ts
  lib/extend/migrator.ts
  lib/extend/renderer.ts
  lib/extend/tag.ts
  lib/hexo/default_config.ts
  lib/plugins/highlight/highlight.ts
Due: eslint --fix

chore(Hexo): add event emitter descriptor (#5302)
  lib/hexo/index.ts
Due: eslint --fix

fix: permalink should be overwritten when post_asset_folder is true (#5254)
  lib/plugins/filter/post_permalink.ts
  test/scripts/filters/post_permalink.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

Update lib/extend/renderer.ts
  lib/extend/renderer.ts
Due: eslint --fix

fix: check tag completeness
  lib/hexo/post.ts
Due: eslint --fix

test(escapeTag): dont drop uncomplete tags
  test/scripts/hexo/post.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

early return
  lib/hexo/post.ts
Due: eslint --fix

fix(escapeAllSwigTags): check tag completeness (#5395)
  lib/hexo/post.ts
  test/scripts/hexo/post.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

ci(comment): conditional running to suppress errors
  .github/workflows/commenter.yml
Due: none

release: 7.1.0
  package.json
Due: none

Path conditions:
  git-exec-and-restage eslint --fix --: any of: *.js
  eslint --fix: (any of: *.js) or (any of: *.ts)
