Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

perf(PostCategory/PostTag): add binary relation index for performance (#5605)
  lib/hexo/index.ts
  lib/models/binary_relation_index.ts
  lib/models/category.ts
  lib/models/post.ts
  lib/models/post_category.ts
  lib/models/post_tag.ts
  lib/models/tag.ts
  test/scripts/models/category.ts
  test/scripts/models/post.ts
  test/scripts/models/tag.ts
Due: eslint --fix

fix(TS2554): Expected 1 arguments, but got 0.
  lib/plugins/console/clean.ts
Due: eslint --fix

fix: cannot spawn .husky/pre-commit: No such file or directory bash script should have shebang mark
  .husky/pre-commit
Due: none

fix(escapeAllSwigTags): backtrack when tag is incomplete (#5618)
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix

fix: `hexo.locals.get('posts')` doesn't show all posts (#5612)
  lib/hexo/index.ts
  test/scripts/extend/tag.ts
Due: eslint --fix

perf(listArchives): add cache for posts (#5624)
  lib/extend/injector.ts
  lib/plugins/helper/list_archives.ts
Due: eslint --fix

fix: Parsing error for code blocks in list items (#5617)
  lib/plugins/filter/before_post_render/backtick_code_block.ts
  test/scripts/filters/backtick_code_block.ts
Due: eslint --fix

refactor(model): add Code model for include_code tag
  lib/models/code.ts
  lib/models/index.ts
  lib/plugins/processor/code.ts
  lib/plugins/processor/index.ts
  lib/plugins/tag/include_code.ts
  lib/types.ts
  test/scripts/tags/include_code.ts
Due: eslint --fix

fix
  lib/plugins/filter/before_post_render/backtick_code_block.ts
  lib/plugins/tag/code.ts
Due: eslint --fix

add test
  lib/models/code.ts
  lib/plugins/generator/asset.ts
  lib/plugins/generator/code.ts
  lib/plugins/generator/index.ts
  lib/plugins/processor/code.ts
  lib/plugins/tag/include_code.ts
  lib/types.ts
  test/scripts/generators/code.ts
  test/scripts/models/code.ts
  test/scripts/processors/code.ts
Due: eslint --fix

fix(page): exclude code directory from processing
  lib/plugins/processor/asset.ts
Due: eslint --fix

fix(escapeAllSwigTags): Prevent swig tag prefix collision during escaping. (#5635)
  lib/extend/tag.ts
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix

test: improve coverage
  test/scripts/helpers/gravatar.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/load_plugins.ts
  test/scripts/hexo/post.ts
  test/scripts/processors/post.ts
Due: eslint --fix

fix
  lib/hexo/router.ts
Due: eslint --fix

chore: skipLibCheck temporarily
  tsconfig.json
Due: none

fix
  test/scripts/console/generate.ts
Due: eslint --fix

feat: Support additional options for Backtick Code Block (#5625)
  lib/extend/syntax_highlight.ts
  lib/plugins/filter/before_post_render/backtick_code_block.ts
  lib/plugins/highlight/highlight.ts
  lib/plugins/highlight/prism.ts
  lib/plugins/tag/code.ts
  test/scripts/filters/backtick_code_block.ts
Due: eslint --fix

test: improve coverage (#5638)
  lib/hexo/router.ts
  test/scripts/console/generate.ts
  test/scripts/helpers/gravatar.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/load_plugins.ts
  test/scripts/hexo/post.ts
  test/scripts/processors/post.ts
  tsconfig.json
Due: eslint --fix

perf(escapeAllSwigTags): reducing GC overhead (#5620)
  lib/hexo/post.ts
Due: eslint --fix

perf: skip tag render when there is no swigTags
  lib/hexo/post.ts
Due: eslint --fix

fix
  lib/hexo/post.ts
Due: eslint --fix

chore(deps): update eslint
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package.json
Due: git-exec-and-restage eslint --fix --, eslint --fix

Update package.json
  package.json
Due: none

Update eslint.config.js
  eslint.config.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

chore: fix eslint
  eslint.config.js
  lib/extend/injector.ts
  lib/extend/tag.ts
  lib/hexo/index.ts
  lib/hexo/validate_config.ts
  lib/models/cache.ts
  lib/models/data.ts
  lib/models/types/moment.ts
  lib/plugins/console/deploy.ts
  lib/plugins/generator/asset.ts
  lib/plugins/helper/list_archives.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix

chore: fix eslint
  eslint.config.js
  lib/extend/tag.ts
  lib/models/cache.ts
  lib/models/data.ts
  lib/models/types/moment.ts
  lib/plugins/helper/list_archives.ts
Due: git-exec-and-restage eslint --fix --, eslint --fix

chore(deps): update eslint (#5599)
  .eslintignore
  .eslintrc.json
  eslint.config.js
  lib/extend/injector.ts
  lib/extend/tag.ts
  lib/hexo/index.ts
  lib/hexo/validate_config.ts
  lib/models/cache.ts
  lib/models/data.ts
  lib/models/types/moment.ts
  lib/plugins/console/deploy.ts
  lib/plugins/generator/asset.ts
  lib/plugins/helper/list_archives.ts
  package.json
Due: git-exec-and-restage eslint --fix --, eslint --fix

rename function adjustDateForTimezone
  lib/plugins/processor/asset.ts
  lib/plugins/processor/common.ts
  lib/plugins/processor/post.ts
  test/scripts/processors/common.ts
Due: eslint --fix

feat(moment): remove unused timezone setting
  lib/models/page.ts
  lib/models/post.ts
  lib/models/types/moment.ts
  test/scripts/models/moment.ts
Due: eslint --fix

code style update
  lib/models/types/moment.ts
Due: eslint --fix

fix: rename variable for clarity
  lib/hexo/post.ts
Due: eslint --fix

chore(lint): apply eslint to test files
  eslint.config.js
  package.json
  test/.eslintrc
  test/benchmark.js
  test/fixtures/.eslintrc
  test/scripts/.eslintrc
  test/scripts/extend/processor.ts
  test/scripts/extend/renderer.ts
  test/scripts/extend/tag.ts
  test/scripts/extend/tag_errors.ts
  test/scripts/hexo/hexo.ts
  test/scripts/hexo/post.ts
  test/scripts/renderers/nunjucks.ts
  test/util/.eslintrc
Due: git-exec-and-restage eslint --fix --, eslint --fix

refactor(moment): remove unused timezone setting (#5654)
  lib/models/page.ts
  lib/models/post.ts
  lib/models/types/moment.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/common.ts
  lib/plugins/processor/post.ts
  test/scripts/models/moment.ts
  test/scripts/processors/common.ts
Due: eslint --fix

Update test/scripts/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix

feat(load_config): enforce stricter extension checks
  lib/hexo/load_config.ts
  lib/hexo/load_theme_config.ts
  test/scripts/hexo/load_config.ts
Due: eslint --fix

refactor(toc): support skipping heading level
  lib/plugins/helper/toc.ts
  test/scripts/helpers/toc.ts
Due: eslint --fix

fix(open_graph): sort the tags
  lib/plugins/helper/open_graph.ts
  test/scripts/helpers/open_graph.ts
Due: eslint --fix

fix(moment): use timezone from Hexo config instead of maching settings
  lib/hexo/post.ts
  lib/models/types/moment.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/common.ts
  lib/plugins/processor/post.ts
  test/scripts/console/new.ts
  test/scripts/filters/post_permalink.ts
  test/scripts/models/moment.ts
  test/scripts/processors/common.ts
Due: eslint --fix

Path conditions:
  git-exec-and-restage eslint --fix --: any of: *.js
  eslint --fix: (any of: *.js) or (any of: *.ts)
