Repository hexojs/hexo: changes, and which lint-staged commands are due for each by the changed paths.
All: git-exec-and-restage eslint --fix --, eslint --fix

chore: add comment
  lib/plugins/processor/post.ts
Due: eslint --fix

chore: rename unclear variable name
  lib/plugins/processor/post.ts
Due: eslint --fix

ci(comment): fix wrong condition (#5471)
  .github/workflows/commenter.yml
Due: none

Revert "test: add test case for issue #4334 (#5465)"
  package.json
  test/scripts/console/new.ts
Due: eslint --fix

Update package.json
  package.json
Due: none

Allow the publish command to handle files with filenames separated by spaces in the _draft folder.
  lib/hexo/post.ts
Due: eslint --fix

Update lib/plugins/processor/post.ts
  lib/plugins/processor/post.ts
Due: eslint --fix

rename
  lib/plugins/processor/post.ts
  test/scripts/processors/post.ts
Due: eslint --fix

perf(processor/post): improve processing speed when `config.post_asset_folder` is enabled (#5473)
  lib/plugins/processor/post.ts
Due: eslint --fix

perf(router): avoid calling `set` when the generated data unmodified
  lib/hexo/index.ts
Due: eslint --fix

refactor: refactor types
  lib/box/file.ts
  lib/box/index.ts
  lib/models/asset.ts
  lib/models/cache.ts
  lib/models/category.ts
  lib/models/page.ts
  lib/models/post.ts
  lib/models/post_asset.ts
  lib/models/tag.ts
  lib/plugins/filter/new_post_path.ts
  lib/plugins/processor/post.ts
  lib/types.ts
  package.json
Due: eslint --fix

chore: lint
  lib/hexo/index.ts
Due: eslint --fix

test(watch): use unique files for each test
  test/scripts/hexo/hexo.ts
Due: eslint --fix

revert: "test: add test case for issue #4334" (#5475)
  package.json
  test/scripts/console/new.ts
Due: eslint --fix

fixed failing test suite
  lib/plugins/console/unpublish.js
  test/scripts/console/unpublish.js
Due: git-exec-and-restage eslint --fix --, eslint --fix

Revert "refactor: backslashes on Windows (#5457)"
  lib/box/index.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
  lib/theme/processors/source.ts
  test/scripts/box/box.ts
  test/scripts/processors/asset.ts
  test/scripts/processors/post.ts
  test/scripts/theme_processors/source.ts
Due: eslint --fix

refator: refactor types
  lib/plugins/console/list/category.ts
  lib/plugins/console/list/page.ts
  lib/plugins/console/list/post.ts
  lib/plugins/console/list/route.ts
  lib/plugins/console/list/tag.ts
  test/scripts/hexo/hexo.ts
Due: eslint --fix

docs: code annotation
  lib/hexo/index.ts
Due: eslint --fix

docs: code annotation
  lib/extend/console.ts
  lib/extend/deployer.ts
  lib/extend/filter.ts
  lib/extend/generator.ts
  lib/extend/helper.ts
  lib/extend/injector.ts
  lib/extend/migrator.ts
  lib/extend/processor.ts
  lib/extend/renderer.ts
  lib/extend/tag.ts
Due: eslint --fix

feat(helper/toc): specify maximum number of items to output
  lib/plugins/helper/toc.ts
  test/scripts/helpers/toc.ts
Due: eslint --fix

add PR 5476 test
  package.json
  test/scripts/hexo/post.ts
Due: eslint --fix

feat(renderScaffold): deepMerge frontMatter of post and scaffold (#5472)
  lib/hexo/post.ts
  test/scripts/hexo/post.ts
Due: eslint --fix

feat: add option to use slug as title of post (#5470)
  lib/hexo/default_config.ts
  lib/plugins/processor/post.ts
  test/scripts/processors/post.ts
Due: eslint --fix

Revert "refactor: backslashes on Windows (#5457)" (#5481)
  lib/box/index.ts
  lib/plugins/processor/asset.ts
  lib/plugins/processor/post.ts
  lib/theme/processors/source.ts
  test/scripts/box/box.ts
  test/scripts/processors/asset.ts
  test/scripts/processors/post.ts
  test/scripts/theme_processors/source.ts
Due: eslint --fix

perf: skip evaluation if `max_items` is not specified
  lib/plugins/helper/toc.ts
Due: eslint --fix

perf: streamline getting min and max heading level
  lib/plugins/helper/toc.ts
Due: eslint --fix

release: 7.3.0
  package.json
Due: none

build: upgrade ecmascript version
  tsconfig.json
Due: none

ci: adjust conditions of check
  .github/workflows/linter.yml
  .github/workflows/tester.yml
Due: none

build: upgrade ecmascript version (#5507)
  .github/workflows/linter.yml
  .github/workflows/tester.yml
  tsconfig.json
Due: none

feat(helper/toc): specify maximum number of items to output (#5487)
  lib/plugins/helper/toc.ts
  test/scripts/helpers/toc.ts
Due: eslint --fix

release: 7.3.0 (#5506)
  package.json
Due: none

更新README的排版，让它更美观
  README.md
Due: none

检测链接全部正确
  README.md
Due: none

Add post_extensions to distinguish post
  lib/hexo/default_config.ts
  lib/plugins/processor/post.ts
Due: eslint --fix

add test
  test/scripts/processors/post.ts
Due: eslint --fix

Path conditions:
  git-exec-and-restage eslint --fix --: any of: *.js
  eslint --fix: (any of: *.js) or (any of: *.ts)
